body {
    scroll-behavior: smooth;
  }
  
  header {
    background: url('https://source.unsplash.com/1600x900/?technology,code') no-repeat center center;
    background-size: cover;
  }
  
  .card:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
  }
  
  .progress {
    height: 20px;
  }
  